@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<div id="sidebar">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <div class="top-row navbar navbar-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="">Cawood Clinic Manager</a>
                        </div>
                    </div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" onclick="document.getElementById('sidebar').classList.toggle('expanded')"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div onclick="document.getElementById('sidebar').classList.remove('expanded')">
                        <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                            <Items>
                                <AuthorizeView>
                                    <Authorized>
                                        <AuthorizeView Context="MaintainUsers" Policy="CanMaintainUsers">
                                            <DxMenuItem NavigateUrl="/users" Text="Users" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                                            <DxMenuItem NavigateUrl="/Account/Register" Text="Register" CssClass="menu-item" IconCssClass="icon counter-icon"></DxMenuItem>
                                            <DxMenuItem NavigateUrl="/Account/Manage" Text="@context.User.Identity?.Name" CssClass="menu-item" IconCssClass="icon weather-icon"></DxMenuItem>
                                        </AuthorizeView>
                                        <AuthorizeView Context="MaintainCompanies" Policy="CanMaintainAreas">
                                            <DxMenuItem NavigateUrl="/areaspage" Text="Areas" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                                            <DxMenuItem NavigateUrl="/counter" Text="Counter" CssClass="menu-item" IconCssClass="icon counter-icon"></DxMenuItem>
                                        </AuthorizeView>
                                        <div class="nav-item px-3">
                                            <form id="logoutForm" action="Account/Logout" method="post">
                                                <AntiforgeryToken />
                                                <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                                            </form>
                                            <DxMenuItem Text="Logout" CssClass="menu-item" IconCssClass="icon home-icon" Click="Logout" Position="ItemPosition.End"></DxMenuItem>
                                        </div>
                                        </Authorized>
                                    <NotAuthorized>
                                        <DxMenuItem NavigateUrl="Account/Login" Text="Login" CssClass="menu-item" IconCssClass="icon home-icon"></DxMenuItem>
                                    </NotAuthorized>
                                </AuthorizeView>
                            </Items>
                        </DxMenu>
                    </div>
                </Template>
            </DxGridLayoutItem>
@*             <DxGridLayoutItem Area="footer" CssClass="footer">
                <Template>
                  <NavLink href="https://docs.devexpress.com/Blazor/400725/blazor-components" class="button-link">
                    <DxButton Text="Docs" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="footer-button" RenderStyle="@ButtonRenderStyle.Light" IconCssClass="icon docs-icon"></DxButton>
                  </NavLink>
                  <NavLink href="https://demos.devexpress.com/blazor/" class="button-link">
                    <DxButton Text="Demos" RenderStyleMode="@ButtonRenderStyleMode.Text" CssClass="footer-button" RenderStyle="@ButtonRenderStyle.Light" IconCssClass="icon demos-icon"></DxButton>
                  </NavLink>
                </Template>
            </DxGridLayoutItem> *@
        </Items>
    </DxGridLayout>
    <div class="logoborder">
        <img class="logo" src="images/logo.svg" alt="Cawood Clinic logo" />
    </div>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
    }
    private async Task Logout()
    {
        // Submit the form programmatically
        JSRuntime.InvokeVoidAsync("submitform", "logoutForm");
    }


}